## 주석

In [2]:
mydict = {
    'a': 1,
    'b': 2,
    '''
    'c': 3,
    'd': 4,
    '''
}

SyntaxError: invalid syntax (<ipython-input-2-f7d45e1069b8>, line 8)

In [3]:
mydict = {
    'a': 1,
    'b': 2,
#     'c': 3,
#     'd': 4,
}

## 조건문 (if문)

In [4]:
number = int(input('Enter number : '))

Enter number : 123

In [5]:
number

123

In [6]:
'123' < '31'

True

In [8]:
ord('1'), ord('3')  # ascii 코드

(49, 51)

In [10]:
int('123') < int('31')

False

In [11]:
int('123a')

ValueError: invalid literal for int() with base 10: '123a'

In [12]:
int('123a', 16)

4666

In [16]:
if 0:
    print('참으로 실행')
else:
    print('거짓으로 실행')

거짓으로 실행

In [15]:
bool([''])

True

## 반복문 (for문)

In [18]:
for i in [1, 2, 3, 4, 5]:
    print(i)
    print(i**2)
    print(i**3)

1
1
1
2
4
8
3
9
27
4
16
64
5
25
125

In [25]:
for i in range(2, 10):
    print('# {}단'.format(i))
    for j in range(1, 10):
        print('{} * {} = {}'.format(i, j, i*j))
        break
    print()

# for i in [2, 3, 4, 5, 6, 7, 8, 9]:

# 중첩 반복문을 빠져나올려면, 함수내에서 return 시에나, 프로그램 종료 시에만 !!

# 2단
2 * 1 = 2

# 3단
3 * 1 = 3

# 4단
4 * 1 = 4

# 5단
5 * 1 = 5

# 6단
6 * 1 = 6

# 7단
7 * 1 = 7

# 8단
8 * 1 = 8

# 9단
9 * 1 = 9

## 함수

In [30]:
number = 2

print('# {}단 #'.format(number))
for j in range(1, 10):
    print('- {} * {} = {}'.format(number, j, number*j))

number = 3

print('# {}단 #'.format(number))
for j in range(1, 10):
    print('- {} * {} = {}'.format(number, j, number*j))
    
number = 4

for j in range(1, 10):
    print('{} * {} = {}'.format(number, j, number*j))

# 2단 #
- 2 * 1 = 2
- 2 * 2 = 4
- 2 * 3 = 6
- 2 * 4 = 8
- 2 * 5 = 10
- 2 * 6 = 12
- 2 * 7 = 14
- 2 * 8 = 16
- 2 * 9 = 18
# 3단 #
- 3 * 1 = 3
- 3 * 2 = 6
- 3 * 3 = 9
- 3 * 4 = 12
- 3 * 5 = 15
- 3 * 6 = 18
- 3 * 7 = 21
- 3 * 8 = 24
- 3 * 9 = 27
4 * 1 = 4
4 * 2 = 8
4 * 3 = 12
4 * 4 = 16
4 * 5 = 20
4 * 6 = 24
4 * 7 = 28
4 * 8 = 32
4 * 9 = 36

In [32]:
def gugudan(number):
    print('### {}단 ###'.format(number))
    for j in range(1, 10):
        print('- {} * {} = {}'.format(number, j, number*j))

gugudan(2)
gugudan(3)
gugudan(4)

### 2단 ###
- 2 * 1 = 2
- 2 * 2 = 4
- 2 * 3 = 6
- 2 * 4 = 8
- 2 * 5 = 10
- 2 * 6 = 12
- 2 * 7 = 14
- 2 * 8 = 16
- 2 * 9 = 18
### 3단 ###
- 3 * 1 = 3
- 3 * 2 = 6
- 3 * 3 = 9
- 3 * 4 = 12
- 3 * 5 = 15
- 3 * 6 = 18
- 3 * 7 = 21
- 3 * 8 = 24
- 3 * 9 = 27
### 4단 ###
- 4 * 1 = 4
- 4 * 2 = 8
- 4 * 3 = 12
- 4 * 4 = 16
- 4 * 5 = 20
- 4 * 6 = 24
- 4 * 7 = 28
- 4 * 8 = 32
- 4 * 9 = 36

In [33]:
def mysum(a, b, c):
    return 10 + a + b + c

In [34]:
mysum(1, 2, 3)

16

In [35]:
def fn1():
    return 'hello'

In [37]:
fn1()

'hello'

In [39]:
ret = fn1()

In [40]:
ret

'hello'

In [41]:
def fn2(a, b):
    print(a, b)
#    return None

In [44]:
ret = fn2(1, 2)

1 2

In [46]:
print(ret)

None

In [47]:
ret

In [48]:
def mysum(x, y):
    if x % 2 == 0:
        return x + y

In [49]:
mysum(2, 1)

3

In [50]:
mysum(1, 2)

## 인자

In [51]:
'{} {} {}'.format('a', 'b', 'c')

'a b c'

In [52]:
'{0} {1} {2}'.format('a', 'b', 'c')

'a b c'

In [53]:
'{1} {2} {0}'.format('a', 'b', 'c')

'b c a'

In [54]:
'{val1} {val2} {val3}'.format(val1='a', val2='b', val3='c')

'a b c'

In [55]:
'{val3} {val2} {val3}'.format(val1='a', val2='b', val3='c')

'c b c'

In [56]:
def mysum2(a, b):
    return a + b

def mysum3(a, b, c):
    return a + b + c

def mysum4(a, b, c, d):
    return a + b + c + d

def mysum5(a, b, c, d, e):
    return a + b + c + d + e

In [64]:
numbers = [1, 2]
print(mysum2(numbers[0], numbers[1]))
print(mysum2(*numbers))  # unpacking

numbers = [1, 2, 3]
print(mysum3(*numbers))
print(mysum4(1, 2, 3, 4))
print(mysum5(1, 2, 3, 4, 5))

3
3
6
10
15

In [71]:
def mysum(*args):  # packing
    print(args)
    # return sum(args)
    result = 0
    for i in args:
        # result = result + i
        result += i
    return result

print(mysum())
print(mysum(1, 2, 3))
print(mysum(1, 2, 3, 4))
print(mysum(1, 2, 3, 4, 5))

()
0
(1, 2, 3)
6
(1, 2, 3, 4)
10
(1, 2, 3, 4, 5)
15

In [74]:
def mysum(x, y, *args):  # packing
    print(args)
    # return sum(args)
    result = x + y
    for i in args:
        # result = result + i
        result += i
    return result

print(mysum(1, 2, 3))
print(mysum(1, 2, 3, 4))
print(mysum(1, 2, 3, 4, 5))

(3,)
6
(3, 4)
10
(3, 4, 5)
15

In [77]:
# keyword arguments

def say_hello(name, age=12):
    print('안녕. 나는 {}야. 나는 {}살이야.'.format(name, age))

In [78]:
say_hello('Tom', 10)

안녕. 나는 Tom야. 나는 10살이야.

In [79]:
say_hello('Steve')

안녕. 나는 Steve야. 나는 12살이야.

In [80]:
say_hello('Jane', age=20)

안녕. 나는 Jane야. 나는 20살이야.

In [81]:
say_hello('Jane', age=20, region='서울')

TypeError: say_hello() got an unexpected keyword argument 'region'

In [82]:
# keyword arguments

def say_hello2(name, age=12, region='부산'):
    print('안녕. 나는 {}야. 나는 {}살이야. {}에서 왔어.'.format(name, age, region))

In [83]:
say_hello2('공유', 37, '도깨비나라')

안녕. 나는 공유야. 나는 37살이야. 도깨비나라에서 왔어.

In [84]:
say_hello2('공유', age=37, region='도깨비나라')

안녕. 나는 공유야. 나는 37살이야. 도깨비나라에서 왔어.

In [85]:
say_hello2('공유', region='도깨비나라', age=37)

안녕. 나는 공유야. 나는 37살이야. 도깨비나라에서 왔어.

In [87]:
kwargs = {'region': '도깨비나라', 'age': 37}
# say_hello2('공유', region=kwargs['region'], age=kwargs['age'])
say_hello2('공유', **kwargs)

안녕. 나는 공유야. 나는 37살이야. 도깨비나라에서 왔어.

In [88]:
kwargs = {'region': '도깨비나라', 'age': 37, 'food': '스테이크'}
say_hello2('공유', **kwargs)

TypeError: say_hello2() got an unexpected keyword argument 'food'

In [89]:
def say_hello3(name, **kwargs):
    print(name, kwargs)

In [90]:
say_hello3('공유', age=37, region='캐나다', food='스테이크', 연인='김고은')

공유 {'age': 37, 'region': '캐나다', '연인': '김고은', 'food': '스테이크'}

In [91]:
kwargs = dict(age=37, region='캐나다', food='스테이크', 연인='김고은')
say_hello3('공유', **kwargs)

공유 {'age': 37, 'region': '캐나다', '연인': '김고은', 'food': '스테이크'}

### 디폴트 인자 주의할 점

In [92]:
def eat(food_list=[]):
    food_list.append('김치')
    return food_list

In [93]:
# eat(['만두', '라면'])
eat()

['김치']

In [94]:
eat()

['김치', '김치']

In [95]:
eat()

['김치', '김치', '김치']

In [96]:
def eat(food_list=None):
    if food_list is None:
        food_list = []
    food_list.append('김치')
    return food_list

In [97]:
eat()

['김치']

In [98]:
eat()

['김치']

In [99]:
eat()

['김치']