## for

In [3]:
for i in [1, 2, 3, 4, 5]:
    print(i)

1
2
3
4
5

In [4]:
for name in {'Tom', 'Steve', 'Tom'}:
    print(name)

Tom
Steve

In [5]:
for key in {'Tom': 10, 'Steve': 8, 'Tom': 9}:
    print(key)

Tom
Steve

In [6]:
for value in {'Tom': 10, 'Steve': 8, 'Tom': 9}.values():
    print(value)

9
8

In [7]:
for (key, value) in {'Tom': 10, 'Steve': 8, 'Tom': 9}.items():
    print(key, value)

Tom 9
Steve 8

In [12]:
for i in range(1, 21):
    if i % 2 == 0:
        print('짝수 :', i)
    else:
        print('홀수 :', i)
    break

홀수 : 1

In [13]:
for i in range(1, 21):
    if i % 2 == 0:
        print('짝수 :', i)
        break
    else:
        print('홀수 :', i)

홀수 : 1
짝수 : 2

In [19]:
for i in range(2, 10):
    print('# {}단'.format(i))
    for j in range(1, 10):
        print('{} * {} = {}'.format(i, j, i*j))
    print()

# 2단
2 * 1 = 2
2 * 2 = 4
2 * 3 = 6
2 * 4 = 8
2 * 5 = 10
2 * 6 = 12
2 * 7 = 14
2 * 8 = 16
2 * 9 = 18

# 3단
3 * 1 = 3
3 * 2 = 6
3 * 3 = 9
3 * 4 = 12
3 * 5 = 15
3 * 6 = 18
3 * 7 = 21
3 * 8 = 24
3 * 9 = 27

# 4단
4 * 1 = 4
4 * 2 = 8
4 * 3 = 12
4 * 4 = 16
4 * 5 = 20
4 * 6 = 24
4 * 7 = 28
4 * 8 = 32
4 * 9 = 36

# 5단
5 * 1 = 5
5 * 2 = 10
5 * 3 = 15
5 * 4 = 20
5 * 5 = 25
5 * 6 = 30
5 * 7 = 35
5 * 8 = 40
5 * 9 = 45

# 6단
6 * 1 = 6
6 * 2 = 12
6 * 3 = 18
6 * 4 = 24
6 * 5 = 30
6 * 6 = 36
6 * 7 = 42
6 * 8 = 48
6 * 9 = 54

# 7단
7 * 1 = 7
7 * 2 = 14
7 * 3 = 21
7 * 4 = 28
7 * 5 = 35
7 * 6 = 42
7 * 7 = 49
7 * 8 = 56
7 * 9 = 63

# 8단
8 * 1 = 8
8 * 2 = 16
8 * 3 = 24
8 * 4 = 32
8 * 5 = 40
8 * 6 = 48
8 * 7 = 56
8 * 8 = 64
8 * 9 = 72

# 9단
9 * 1 = 9
9 * 2 = 18
9 * 3 = 27
9 * 4 = 36
9 * 5 = 45
9 * 6 = 54
9 * 7 = 63
9 * 8 = 72
9 * 9 = 81

## 함수

In [22]:
number = 2

for i in range(1, 10):
    print('{} * {} = {}'.format(number, i, number*i))
    
number = 3

for i in range(1, 10):
    print('{} * {} = {}'.format(number, i, number*i))
    
number = 4

for i in range(1, 10):
    print(number, i, number*i)

2 * 1 = 2
2 * 2 = 4
2 * 3 = 6
2 * 4 = 8
2 * 5 = 10
2 * 6 = 12
2 * 7 = 14
2 * 8 = 16
2 * 9 = 18
3 * 1 = 3
3 * 2 = 6
3 * 3 = 9
3 * 4 = 12
3 * 5 = 15
3 * 6 = 18
3 * 7 = 21
3 * 8 = 24
3 * 9 = 27
4 1 4
4 2 8
4 3 12
4 4 16
4 5 20
4 6 24
4 7 28
4 8 32
4 9 36

In [25]:
def gugudan(number):
    print('# {} 단'.format(number))
    for i in range(1, 10):
        print('{} * {} = {}'.format(number, i, number*i))

In [26]:
gugudan(2)
gugudan(3)
gugudan(4)

# 2 단
2 * 1 = 2
2 * 2 = 4
2 * 3 = 6
2 * 4 = 8
2 * 5 = 10
2 * 6 = 12
2 * 7 = 14
2 * 8 = 16
2 * 9 = 18
# 3 단
3 * 1 = 3
3 * 2 = 6
3 * 3 = 9
3 * 4 = 12
3 * 5 = 15
3 * 6 = 18
3 * 7 = 21
3 * 8 = 24
3 * 9 = 27
# 4 단
4 * 1 = 4
4 * 2 = 8
4 * 3 = 12
4 * 4 = 16
4 * 5 = 20
4 * 6 = 24
4 * 7 = 28
4 * 8 = 32
4 * 9 = 36

In [35]:
def mypower(number):
    return number ** 2

In [36]:
number = int(input('Number :'))
mypower(number)

Number :100

10000

In [37]:
def myprint(message):
    print(message)
    # return None

ret = myprint('안녕하세요.')

In [40]:
repr(ret)

'None'

In [ ]:
None  # null

In [44]:
class TomDeveloper:
    def __init__(self, name):
        self.name = name

tom = TomDeveloper('Tom')
tom

In [82]:
for ch in "hello world":
    print(ch)

h
e
l
l
o

w
o
r
l
d

In [84]:
"hello"[1]

'e'

In [85]:
"hello"[::-1]

'olleh'

## 인자

In [45]:
'{0} {1} {2}'.format('a', 'b', 'c')

'a b c'

In [46]:
'{2} {1} {2}'.format('a', 'b', 'c')

'c b c'

In [47]:
'{var1} {var3} {var2}'.format(var1='a', var2='b', var3='c')

'a c b'

In [48]:
'{} {var3} {var2}'.format('a', var2='b', var3='c')

'a c b'

In [52]:
'{0} {var3} {var2}'.format('a', var2='b', var3='c')

'a c b'

In [53]:
''.format('a', 'b', 'c', 'd', var5='e', var6='f')

''

In [54]:
'{0} {3} {var5}'.format('a', 'b', 'c', 'd', var5='e', var6='f')

'a d e'

In [57]:
# args = ('a', 'b', 'c', 'd')
args = ['a', 'b', 'c', 'd']
'{0} {3} {var5}'.format(*args, var5='e', var6='f')

'a d e'

In [58]:
args = ('a', 'b', 'c', 'd')
kwargs = {'var5': 'e', 'var6': 'f'}
'{0} {3} {var5}'.format(*args, **kwargs)

'a d e'

In [64]:
def mysum(a, b):
    return a + b

def mysum3(a, b, c):
    return a + b + c

def mysum4(a, b, c, d):
    return a + b + c + d

numbers = [1, 2]
print(mysum(numbers[0], numbers[1]))
print(mysum(*numbers))

numbers = [2, 3]
print(mysum3(1, *numbers))

numbers = [3, 4]
print(mysum4(1, 2, *numbers))

3
3
6
10

In [70]:
def mysum(a, b, *args):
    result = a + b
    for i in args:
        result += i
    return result
#   return a + b + sum(args)

print(mysum(1, 2))
print(mysum(1, 2, 3))
print(mysum(1, 2, 3, 4))

3
6
10

In [71]:
i = 10
i = i + 1
i += 1

In [92]:
def say_hello(name, age=10, region='서울'):
    print("안녕. 나는 {}야. {}살이지. 고향은 {}야.".format(name, age, region))

In [96]:
say_hello("공유", 20, '도깨비월드')

안녕. 나는 공유야. 20살이지. 고향은 도깨비월드야.

In [97]:
say_hello("공유", age=20, region='도깨비월드')

안녕. 나는 공유야. 20살이지. 고향은 도깨비월드야.

In [99]:
say_hello("공유", region='도깨비월드', age=10)

안녕. 나는 공유야. 10살이지. 고향은 도깨비월드야.

In [100]:
say_hello("공유", region='도깨비월드', age=10)

안녕. 나는 공유야. 10살이지. 고향은 도깨비월드야.

In [101]:
say_hello("공유", region='도깨비월드', age=10, food='비빔밥')

TypeError: say_hello() got an unexpected keyword argument 'food'

In [94]:
say_hello("공유", 37)

안녕. 나는 공유야. 37살이지. 고향은 서울야.

In [111]:
def say_hello2(name, **kwargs):
    print(kwargs)
    print("안녕. 나는 {}야. {age}살이지. 고향은 {region}야.".format(name, **kwargs))

In [112]:
say_hello2("공유", region='도깨비월드', age=10, food='비빔밥')

{'food': '비빔밥', 'region': '도깨비월드', 'age': 10}
안녕. 나는 공유야. 10살이지. 고향은 도깨비월드야.

In [113]:
def eat(food_list=[]):
    food_list.append('김치')
    return food_list

In [114]:
eat()

['김치']

In [115]:
eat()

['김치', '김치']

In [116]:
eat()

['김치', '김치', '김치']

In [117]:
def eat(food_list=None):
    if food_list is None:
        food_list = []
    food_list.append('김치')
    return food_list

In [118]:
eat()

['김치']

In [119]:
eat()

['김치']

## 1급 함수/클래스

In [120]:
i = 10

In [121]:
def mysum(x, y):
    result = x + y
    return result

In [122]:
mysum(1, 2)

3

In [123]:
mysum2 = lambda x, y: x + y
mysum2(1, 2)

3

In [124]:
def mysum(x, y):
    fn = lambda: x + y + 10
    return fn()
mysum(1, 2)

13

In [125]:
def mysum(x, y):
    fn = lambda: x + y + 10
    return fn
result_fn = mysum(1, 2)
result_fn()

13

In [126]:
mysum1 = lambda x, y: x + y
mysum2 = mysum1
mysum2(1, 2)

3

In [127]:
def myfn(fn, x, y):
    return fn(x, y)

In [128]:
myfn(lambda x, y: x ** y, 10, 20)

100000000000000000000

In [129]:
myfn(lambda x, y: x + y, 10, 20)

30

In [130]:
def mysummmm(x, y):
    return x ** y

myfn(mysummmm, 10, 20)

100000000000000000000

In [136]:
## 장식자 예시

def base(base_i):
    def wrap(fn):
        def inner(x, y):
            return fn(x, y) + base_i
        return inner
    return wrap

@base(20)
def mysum(x, y):
    return x + y

mysum(1, 2)

23

In [ ]:
@login_required
@goldmembership_required
def pay(request):
    pass

## 클래스

In [140]:
class Person:
    def __init__(self, name):
        self.name = name

In [141]:
tom = Person('Tom')

In [142]:
tom.name

'Tom'

In [143]:
steve = Person('Steve')
steve.name

'Steve'

In [144]:
tom.name, steve.name

('Tom', 'Steve')

In [ ]:
class Person:
    # name = None  # class variable

    def __init__(self, name):
        self.name = name  # self.name => instance variable

```java
/* java */
class Person {
    String name;
    
    Person(String name) {
        this.name = name;
    }
}
```